.profilePic {
  height: 220px;
  width: 220px;
  background: #161415 url("../imgs/linkedIn.jpg");
  background-size: cover !important;
  border-radius: 50%;
}

.btnColor {
  color: #16afc9;
  font-weight: bolder;
}

.aboutBtnHover:hover {
  background-color: #16afc9;
  border-color: #16afc9;
  opacity: 0.8;
}
