.projectTileBarhoppers {
  height: 300px;
  width: 300px;
  background: #161415 url("../imgs/barhoppers_tile.PNG");
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position-x: center;
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-background-clip: padding-box;
}

.projectTileFrontendAssesment {
  height: 300px;
  width: 300px;
  background: #161415 url("../imgs/hatchways_assesment_tile.PNG");
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position-x: center;
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-background-clip: padding-box;
}

.tileOverlay {
  background-color: #161415;
  opacity: 0.85;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

.hideOverlay {
  display: none;
}
